.chatroom {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 100%;
}

.side {
	flex-basis: 20%;
}

.message-container{
	flex-basis: 80%;
	margin-bottom: 0;
	height: 100%;
}